/* .page{ 
    background-color: rgb(204, 127, 127);
     height:700px; 
     padding-top: 100px;
}
.center{
    background-color: rgb(24, 26, 27);
    border: 2px solid black;
    width:600px;
    height:500px;
   
    margin-left: 400px;
}
.page.center.notes{
    width:410px;
    height: 30px            ;
} */