.about-section {
     width:100%;
    min-height:100vh;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:120px 8% 80px;
}
.about-section h1 {
    color: #000000;
    font-size: 48px;
    margin-bottom: 20px;
}
.about-section p {
    color: #333333;
    font-size: 18px;
    line-height: 1.6;
    max-width: 600px;
}
.about-section img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-left: 40px;
}